log/**
vscode/**
data/launchSelectCache.json
data/missionCacheParam.json
data/mp/**
data/archive/**
data/cache/**
data/partRepairLog.log
ves_stage_stats-engStats.json
ves_stage_stats-stgMass.json
_plan/*/**